.slide {
/* uncss:ignore */
	&_visible {
		display: flex;
	}

	width: 780px;
	justify-content: space-around;
	align-items: center;
	flex-wrar: wrap;
	position: relative;
	height: 183px;
	align-items: end;
	margin-bottom: 87px;
	display: none;

	&__head {
		width: 100%;
		text-align: center;
		color: #1baf5d;
		font-family: Gotham;
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		position: absolute;
		top: 0;
	}
}