.paragraphs {

	width: 700px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	position: relative;

	&__item {
		width: 100px;
		height: 100px;
		border-radius: 51px;
		border: 2px solid #1baf5d;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 2;
		background: #f3f1f2;
		box-shadow: 0px 0 0 5px #F3F1F2;
		background-position: center;
		background-repeat: no-repeat;

		&:nth-child(2) {background-image: url("../resource/images/paragraphs__home.png")}
		&:nth-child(3) {background-image: url("../resource/images/paragraphs__human.png")}
		&:nth-child(4) {background-image: url("../resource/images/paragraphs__cap.png")}
		&:nth-child(5) {background-image: url("../resource/images/paragraphs__melody.png")}
		&:nth-child(6) {background-image: url("../resource/images/paragraphs__auto.png")}
	}

	&__img {

	}

	&__line {
		width: 90%;
		height: 2px;
		background-color: #e2dee0;
		z-index: 1;
		position: absolute;
		top: 50%;
	}

}