* {
	margin: 0;
	padding: 0;
}

.nav {
	width: 100%;
	height: 74px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&__gamburger {
		min-width: 40px;
		min-height: 40px;
		background-image: url(../resource/images/nav__gamburger.png);
		display: none;
		align-self: start;
		margin: auto auto auto 50px;
		background-size: contain;
		background-repeat: no-repeat;

		&:hover {
			cursor: pointer;
		}
	}

	&__logo {
		margin-left: 8%;
	}

	&__menu {
		display: flex;
		list-style-type: none;
		margin-right: 20px;

		&-li {
			margin-left: 20px;

			&-a {
				color: #96a6a7;
				font-family: 'GothamMedium';
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				text-decoration: none;
			}

			&-opacty {
				position: absolute;
				width: 0;
				height: 100vh;
				background-color: #0000;
				top: 0;
				left: 250px;
			}
		}
	}

	&__search {
		width: 96px;
		height: 100%;
		background-color: #e2dee0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&-input {
			position: absolute;
			z-index: 0;
			width: 66px;
			height: 74px;
			border: none;
			outline: none;
			right: 310px;
			font-size: 20px;
			background-color: #e2dee0;
			transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
			background-image: url("../src/navbar/nav__search-img.png");
			background-repeat: no-repeat;
			background-position: right 25px center;

			color: #96a6a7;
			font-family: 'GothamMedium';
			font-size: 24px;
			font-weight: 500;
			padding-left: 67px;
			padding-bottom: 7px;

			&:focus, &:hover {
				width: 700px;
				z-index: 1;
				cursor: text;
				padding-right: 65px;
			}

		}

	}

	&__login {
		width: 386px;
		height: 100%;
		background-color: #e94e38;
		display: flex;

		&-a {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: start;
			align-items: center;
			text-decoration: none;
		}

		&-text {
			width: 44px;
			height: 16px;
			color: #ffffff;
			font-family: 'GothamMedium';
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}

		&-ico {
			margin-left: 40px;
			margin-right: 16px;
		}

	}
}

@media (max-width: 1150px) {
	.nav {
		&__logo {margin-left: 4%}
		&__menu-li {margin-left: 15px}
		&__menu-li-a {font-size: 13px}
		&__search-input {right: 227px}
		&__login {width: 300px}
	}
}

@media (max-width: 970px) {
	.nav {
		&__search-input {right: 75px}
		&__login {width: 150px}
		&__login-text {display: none}
		&__login-ico {margin-left: 45px}
	}
}

@media (max-width: 800px) {
	.nav {
		&__gamburger {
			background-image: url(../resource/images/nav__gamburger.png);
			display: block;
			margin: auto auto auto 40px;
		}

		&__logo {display: none}

		&__menu {
			width: 250px;
			height: 100vh;
			position: fixed;
			left: -250px;
			z-index: 9999;
			flex-direction: column;
			background-color: rgb(20, 20, 20);
			top: 0;

			&-li {
				margin-left: 0;
				width: 100%;
				height: 75px;
				border-bottom: 3px solid darkslategrey;
				text-indent: 30px;

				&-a {
					font-size: 20px;
					line-height: 77px;
				}
			}
		}

		&__search-input {
			&:focus, &:hover {
				width: 500px;
			}
		}
	}
}


@media (max-width: 574px) {
	.nav__search-input {
		font-size: 18px;

		&:focus, &:hover {width: 300px}
	}
}