.filters {
	display: flex;
	align-items: center;
	margin-right: 10%;

	&__head {
		color: #96a6a7;
		font-family: Gotham;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		list-style-type: none;

		&-item {
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background-color: #b6c0c1;
			margin-left: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&-img {
				margin-bottom: 3px;
			}
 
			// &:nth-child(1) {background: #1BAF5D}
			&:nth-child(2) {background: #779AEF}
			&:nth-child(3) {background: #FF59B7}
			&:nth-child(4) {background: #F19E1F}
			&:nth-child(5) {background: #88499C} 

		}
	}
}