.descrip {

	width: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	&__img {
		width: 61px;
		height: 61px;
		background-color: #1db05e;
		border-radius: 31px;
  		background-repeat: no-repeat;
		background-position: 50%;
		position: relative;
		top: -22px;

		&_1-1 {background-image: url("../resource/images/descrip__img_1-1.png")}
		&_2-1 {background-image: url("../resource/images/descrip__img_2-1.png")}

		&_1-2 {background-image: url("../resource/images/descrip__img_1-2.png")}
		&_2-2 {background-image: url("../resource/images/descrip__img_2-2.png")}

		&_1-3 {background-image: url("../resource/images/descrip__img_1-3.png")}
		&_2-3 {background-image: url("../resource/images/descrip__img_2-3.png")}

		&_1-4 {background-image: url("../resource/images/descrip__img_1-4.png")}
		&_2-4 {background-image: url("../resource/images/descrip__img_2-4.png")}

		&_1-5 {background-image: url("../resource/images/descrip__img_1-5.png")}
		&_2-5 {background-image: url("../resource/images/descrip__img_2-5.png")}
	}

	&__text {
		width: 256px;
		color: #566375;
		font-family: "GothamMedium";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

}

@media (max-width: 640px) {
	.descrip {

		width: 95%;
		margin-top: 60px;
		right: -30px;

		&__img {top: 10px; right: -2%}
		&__text {width: 70%}
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.descrip {

		margin-top: 100px;

		&__img {
			right: 5px;
		}

		&__text {
			font-size: 13px;
		}
	}
}