@font-face {
    font-family: 'Gotham - Book';
    src: url('../src/fonts/GothamBookRegular.eot');
    src: url('../src/fonts/GothamBookRegular.eot') format('embedded-opentype'),
         url('../src/fonts/GothamBookRegular.woff2') format('woff2'),
         url('../src/fonts/GothamBookRegular.woff') format('woff'),
         url('../src/fonts/GothamBookRegular.ttf') format('truetype'),
         url('../src/fonts/GothamBookRegular.svg#GothamBookRegular') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../src/fonts/GothamMedium/GothamMedium.eot');
    src: url('../src/fonts/GothamMedium/GothamMedium.eot') format('embedded-opentype'),
         url('../src/fonts/GothamMedium/GothamMedium.woff2') format('woff2'),
         url('../src/fonts/GothamMedium/GothamMedium.woff') format('woff'),
         url('../src/fonts/GothamMedium/GothamMedium.ttf') format('truetype'),
         url('../src/fonts/GothamMedium/GothamMedium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../src/fonts/GothamBold/GothamBold.eot');
    src: url('../src/fonts/GothamBold/GothamBold.eot') format('embedded-opentype'),
         url('../src/fonts/GothamBold/GothamBold.woff2') format('woff2'),
         url('../src/fonts/GothamBold/GothamBold.woff') format('woff'),
         url('../src/fonts/GothamBold/GothamBold.ttf') format('truetype'),
         url('../src/fonts/GothamBold/GothamBold.svg#GothamBold') format('svg');
}
